<ion-view title="Minha Conta">
  <ion-content class="has-header">
    <ion-item class="card" ng-if="!vm.isLoading && !vm.notConnected">
      <form ng-submit="vm.saveChanges()">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome" ng-model="vm.user.firstName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Sobrenome</span>
          <input type="text" placeholder="Sobrenome" ng-model="vm.user.lastName">
        </label>
        <label class="item item-input item-floating-label read-only">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="vm.user.email" ng-readonly="true">
        </label>
        <label class="item item-input item-floating-label" ng-click="vm.selectGender()">
          <span class="input-label">Gênero</span>
          <input class="fixed-input" type="text" placeholder="Gênero" ng-model="vm.user.translatedGender" ng-readonly="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Telefone</span>
          <input type="tel" ui-mask="(99) 99999-999?9" ui-mask-placeholder ng-model="vm.user.phone" ui-options="{clearOnBlur:false}">
        </label>
        <label class="item item-input item-floating-label" ng-click="vm.selectBirthDate()">
          <span class="input-label">Data de nascimento</span>
          <input class="fixed-input" type="text" placeholder="Data de nascimento" ng-model="vm.user.fullBirthDate" ng-readonly="true">
        </label>
        <a class="item item-icon-left item-icon-right" ui-sref="blank.password" ng-show="!vm.user.isSocialAccount">
          <i class="icon ion-android-lock"></i>
          Alterar senha
          <i class="icon ion-chevron-right"></i>
        </a>
        <div class="padding">
          <div class="col">
            <button class="button button-block button-positive" type="submit">Salvar</button>
          </div>
        </div>
      </form>
    </ion-item>

    <div class="row" ng-if="vm.isLoading || vm.notConnected">
      <div class="spinner" ng-if="vm.isLoading">
        <ion-spinner></ion-spinner>
      </div>

      <div class="empty-state error" ng-if="vm.notConnected">
        <h3>Você parece estar desconectado.</h3>
        <p>Verifique sua conexão e tente novamente.</p>
      </div>
    </div>

  </ion-content>
</ion-view>
