<div class="row">
  <label class="item item-input item-select-custom col">
    <select ng-model="vm.user.birthDateDay">
      <option ng-repeat="option in vm.days" value="{{option}}" ng-selected="option == vm.user.birthDateDay">{{option}}</option>
    </select>
  </label>

  <label class="item item-input item-select-custom col">
    <select ng-model="vm.user.birthDateMonth">
      <option ng-repeat="option in vm.months" value="{{$index}}" ng-selected="$index == vm.user.birthDateMonth">{{option}}</option>
    </select>
  </label>

  <label class="item item-input item-select-custom col">
    <select ng-model="vm.user.birthDateYear">
      <option ng-repeat="option in vm.years" value="{{option}}" ng-selected="option == vm.user.birthDateYear">{{option}}</option>
    </select>
  </label>

</div>
