<ion-list>
  <ion-radio ng-model="vm.user.gender" ng-value="'male'">{{'global.genders.male' | translate | capitalize}}</ion-radio>
  <ion-radio ng-model="vm.user.gender" ng-value="'female'">{{'global.genders.female' | translate | capitalize}}</ion-radio>
</ion-list>
