<div class="new-ticket-container" on-swipe-right="vm.back()">
  <!--<div class="bar bar-header bar-transparent">
    <button class="button button-icon icon ion-navicon"></button>
  </div>-->

  <div class="logo-box">
    <img src="assets/images/logo-filazero-alpha.png" class="center centered logo-cover">
  </div>
  <div class="code-box">
    <h2>
      Acompanhe o seu <strong>atendimento</strong>
    </h2>
    <label class="item item-input">
      <input type="text" ng-model="vm.friendlyCode" maxlength="6" ng-change="vm.changedFriendlyCode()"
             model-view-value="true" focus-me="vm.focus" ui-mask="***-**" ui-mask-placeholder-char="space"
             add-default-placeholder="false" ui-options="{clearOnBlur: false}">
    </label>
  </div>
  <div class="auth-box">
    <div class="info">
      <p>Acompanhe em tempo real o horário dos seus atendimentos e aproveite o seu tempo livre.</p>
      <!--<p>Receba notificações em tempo real e aproveite seu tempo livre.</p>-->
    </div>
    <!--<div ng-show="!vm.isAuth">
      <button class="button button-block button-light button-text-highlight button-text-highlight-system"
              ng-click="vm.signup()">
        cadastre-se grátis
      </button>
      <button class="button button-block button-outlined button-positive button-text-highlight" ng-click="vm.login()">
        login
      </button>
    </div>-->
  </div>
</div>
