<ion-view title="Novo usuário">
  <ion-content class="has-header">
    <div class="row">
      <div class="empty-state success">
        <h3>Tudo certo!</h3>
        <p><strong>Seu cadastro foi feito com sucesso.</strong></p>
        <p>Agora você só precisa confirmar o seu cadastro através de um email que acabamos de lhe enviar.</p>
        <div class="padding">
          <button class="button button-block button-outline button-positive" ui-sref="blank.login">Fazer login</button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
