<ion-view title="Novo usuário">
  <ion-content class="has-header">
    <div class="card">
      <form ng-submit="vm.register()" ng-show="!vm.isLoading">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome" ng-model="vm.user.firstName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Sobrenome</span>
          <input type="text" placeholder="Sobrenome" ng-model="vm.user.lastName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="vm.user.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Senha" ng-model="vm.user.password">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirme a senha</span>
          <input type="password" placeholder="Confirme a senha" ng-model="vm.user.confirmPassword">
        </label>
        <h5 class="text-center"> Ao criar uma conta você aceita os <a ui-sref="blank.terms">termos de uso</a></h5>

        <div class="padding">
          <div class="col">
            <button class="button button-block button-positive" type="submit">Confirmar</button>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="spinner" ng-show="vm.isLoading">
          <ion-spinner></ion-spinner>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
