<ion-view title="Sobre">
  <ion-content class="has-header">
    <ion-list class="list">
      <ion-item class="item" ng-click="vm.versionModal()">
        Informações da aplicação
      </ion-item>
      <ion-item class="item" ui-sref="blank.terms">
        Politica de privacidade
      </ion-item>
      <ion-item class="item" ui-sref="blank.info">
        Sobre o Filazero
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
