<ion-view title="Informações">
  <ion-content class="has-header">
    <div class="margin-top-15">
      <img src="assets/images/logo-filazero-vertical.png" class="center centered" height="150px">
      <h4 class="margin-right-15 margin-left-15 align-center"><strong>Filazero</strong> é um aplicativo que conecta as pessoas aos serviços das empresas de forma eficiente, eliminando a espera em filas em diversas áreas empresariais. Além disso, melhora a experiência dos clientes com o atendimento em serviços que dependam do uso de filas para sua operação.</h4>
    </div>
  </ion-content>
</ion-view>
