<ion-view title="Termos de uso e privacidade">
  <ion-content class="has-header">
    <div class="margin-top-15 margin-right-15 margin-left-15">
      <h4 class="align-center">
        O <strong>Filazero</strong> tem o compromisso com a privacidade e a segurança de seus clientes durante todo o processo de uso do serviço. Os dados cadastrais dos clientes não são vendidos, trocados ou divulgados para terceiros, exceto quando essas informações são necessárias para o processo de comunicações do aplicativo.
      </h4>
      <br>
    </div>
  </ion-content>
</ion-view>
