<ion-modal-view class="modal-small" style="height: 110px !important;">
  <ion-content>
    <div class="margin-left-5 margin-top-5 row" style="height: 10%">
      <img class="col-30" src="assets/images/icon.png" height="50px">
      <div class="margin-left-10 margin-bottom-0">
        <h4 class="margin-top-0 margin-bottom-0">
          <strong>{{vm.appName}}</strong>
        </h4>
        <h5 class="margin-top-5 margin-bottom-0">Versão: {{vm.version}}</h5>
        <h6 class="margin-top-5 margin-bottom-0">Contato: suporte@filazero.net</h6>

        <h6 class="margin-top-20">@2016 Inventione Inc.</h6>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
