<ion-view title="Filazero">
  <ion-content class="has-header">
    <div ng-if="!vm.isLoading">
      <form ng-submit="vm.login()">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="vm.user.userName">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Senha</span>
            <input type="password" placeholder="Senha" ng-model="vm.user.password">
          </label>
        </div>

        <div class="padding">
          <div class="col">
            <button class="button button-block button-outlin button-positive" type="submit">Entre AGORA</button>
            <button class="button button-block button-outline button-positive" ui-sref="blank.signup">
              Cadastre-se grátis
            </button>
          </div>
        </div>
      </form>
      <div class="padding">
        <h4 class="center">Entre com sua conta social</h4>
        <div class="col">
          <div class="button-bar">
            <button class="button button-outline button-positive" ng-click="vm.facebookLogin()">
              <i
                class="icon ion-social-facebook"></i>
            </button>
            <button class="button button-outline button-positive" ng-click="vm.googleLogin()">
              <i
                class="icon ion-social-googleplus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="vm.isLoading">
      <div class="spinner">
        <ion-spinner></ion-spinner>
      </div>
    </div>
  </ion-content>
</ion-view>