<ion-view title="Alterar senha">
  <ion-content>
    <ion-item class="card" ng-if="!vm.isLoading">
      <form ng-submit="vm.editPassword()">
        <label class="item item-input item-floating-label">
          <span class="input-label">Senha atual</span>
          <input type="password" placeholder="Senha atual" ng-model="vm.passwordObject.currentPassword">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nova senha</span>
          <input type="password" placeholder="Nova senha" ng-model="vm.passwordObject.newPassword">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirmar nova senha</span>
          <input type="password" placeholder="Confirmar nova senha" ng-model="vm.passwordObject.confirmNewPassword">
        </label>
        <div class="padding">
          <div class="col">
            <button class="button button-block button-positive" type="submit">Salvar</button>
          </div>
        </div>
      </form>
    </ion-item>

    <div class="row" ng-if="vm.isLoading">
      <div class="spinner">
        <ion-spinner></ion-spinner>
      </div>
    </div>
  </ion-content>
</ion-view>
