<header class="bar bar-header bar-positive">
  <button class="button button-icon icon ion-navicon" ng-click="vm.showMenu()"></button>
  <!--<select class="title">
    <option selected>Hoje</option>
    <option>Todos</option>
  </select>-->
  <div class="title">
    <h1>Atendimentos</h1>
  </div>
  <button class="button button-icon icon ion-plus" ui-sref="add-ticket"></button>
</header>

<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left" ng-controller="TopBarController">
    <ion-side-menu-content class="side-menu-header" ng-class="{'ios-header': vm.isIOS}">
      <ion-list class="list">
        <ion-item class="user-info" ui-sref="blank.myAccount" ng-show="vm.isAuth">
          <img class="user-picture" ng-src="{{vm.userData.picture}}">
          <h2>{{vm.userData.firstName}} {{vm.userData.lastName}}</h2>
          <p><em>{{vm.userData.userName}}</em></p>
        </ion-item>
        <ion-item class="item item-icon-left" ui-sref="blank.login" ng-show="!vm.isAuth">
          <i class="icon ion-log-in"></i>
          Login
        </ion-item>
        <ion-item class="item item-icon-left" ui-sref="blank.signup" ng-show="!vm.isAuth">
          <i class="icon ion-paper-airplane"></i>
          Cadastre-se
        </ion-item>
        <ion-item class="item item-icon-left" ui-sref="blank.about">
          <i class="icon ion-ios-information"></i>
          Sobre
        </ion-item>
        <ion-item class="item item-icon-left" ui-sref="blank.myAccount" ng-show="vm.isAuth">
          <i class="icon ion-ios-gear"></i>
          Minha Conta
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="vm.logOut()" ng-show="vm.isAuth">
          <i class="icon ion-power"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-side-menu-content>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-view>
      <ion-content class="service-list-content has-header">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="vm.getWatchedTickets()"></ion-refresher>
        <div class="list">

          <section class="item-group" ng-repeat="ticketsGroup in vm.ticketsGroups" ng-if="ticketsGroup.tickets.length > 0">
            <div class="item item-divider">
              {{'tickets-list.tickets-groups.' + ticketsGroup.name | translate | capitalize}}
            </div>
            <a class="item item-avatar"
               ng-class="{'item-dimissed': vm.ticketFinalized(ticket, ticketsGroup.name) || ticket.status.toLowerCase() === 'started', 'last-minutes': vm.showTimeLeft(ticket), 'late': vm.ticketLate(ticket), 'called': vm.ticketCalled(ticket, ticketsGroup.name)}"
               ui-sref="blank.ticket-details({id: ticket.id})"
               ng-repeat="ticket in ticketsGroup.tickets">

              <img class="avatar" ng-src="{{ticket.companyAvatarUrl}}"
                   ng-if="ticket.companyAvatarUrl">
              <div class="avatar avatar-sample" ng-if="!ticket.companyAvatarUrl">{{ticket.companyAbreviation}}</div>

              <div class="identity-box">
                <h2>{{ticket.friendlyCode}}</h2>
                <h3>{{ticket.companyName}}</h3>
              </div>
              <div class="datetime-box">
                <div ng-show="vm.showPrevision(ticketsGroup.name, ticket)">
                  {{ticket.forecastTime | date: 'shortTime'}}
                  <em class="footer">Horário previsto</em>
                </div>
                <span class="badge-status" ng-class="{'left-time': vm.showTimeLeft(ticket)}"
                      ng-show="vm.showStatusBadge(ticketsGroup.name, ticket)">
              {{vm.statusBadge(ticket, ticketsGroup.name) | translate | capitalize}}
            </span>
              </div>
            </a>
          </section>
        </div>
      </ion-content>
    </ion-view>
  </ion-side-menu-content>

</ion-side-menus>
