<ion-view view-title="Detalhes do atendimento">
  <ion-content class="has-header">
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="vm.getTicket(vm.ticket.id)"></ion-refresher>

    <div class="list card" ng-if="vm.ticket.id && !vm.isLoading">
      <div class="item item-divider align-center">
        <h2 class="ticket-friendlycode">{{vm.ticket.friendlyCode}}</h2>
        <p class="ticket-service">{{vm.ticket.service.name | capitalize}} <span ng-if="vm.ticket.resource">({{vm.ticket.resource.name}})</span></p>
        <p class="ticket-status">{{'global.status.' + vm.ticket.status.toLowerCase() | translate}}</p>
      </div>

      <div class="item item-body">
        <div class="list ticket-details">
          <div class="item item-icon-left">
            <i class="icon ion-location"></i>
            {{vm.ticket.provider.name}}
            <p>{{vm.ticket.location.name}}</p>
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-calendar"></i>
            {{vm.ticket.session.estimatedStart | date: 'EEEE' | capitalize}}, {{vm.ticket.session.estimatedStart | date: 'shortDate'}}
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-clock"></i>
            <strong ng-if="vm.ticket.estimatedServiceStart">{{vm.ticket.estimatedServiceStart | date: 'shortTime'}}</strong>
            <strong ng-if="!vm.ticket.estimatedServiceStart">Aguardando confirmação</strong>
            <div class="item-note">{{vm.ticket.session.estimatedStart | date: 'shortTime'}} - {{vm.ticket.session.estimatedEnd | date: 'shortTime'}}</div>
          </div>
        </div>
      </div>

      <div class="item" ng-show="vm.isAuth">
        <div class="button-bar" ng-if="!vm.isLoadingActions">
          <a class="button button-positive icon-center ion-checkmark" ng-click="vm.confirmTicket(vm.ticket.id)" ng-disabled="!vm.canConfirmTicket(vm.ticket)"></a>
          <a class="button button-positive icon-center ion-location" ng-click="vm.checkinTicket(vm.ticket.id)" ng-disabled="!vm.canCheckTicket(vm.ticket)"></a>
          <a class="button button-positive icon-center ion-close" ng-click="vm.cancelTicket(vm.ticket.id)" ng-disabled="!vm.canCancelTicket(vm.ticket)"></a>
        </div>
        <div class="spiner text-center" ng-if="vm.isLoadingActions">
          <ion-spinner></ion-spinner>
        </div>
      </div>

      <div class="item">
        <button class="button button-block button-outline button-positive" ui-sref="blank.feedback({feedbackId: vm.ticket.feedback.id, guid:vm.ticket.feedback.guid})" ng-if="!vm.hasFeedback" ng-disabled="!vm.canFeedBack">Avaliar</button>
        <button class="button button-block button-outline button-positive" ui-sref="blank.feedback({feedbackId: vm.ticket.feedback.id, guid:vm.ticket.feedback.guid})" ng-if="vm.hasFeedback">Ver avaliação</button>
      </div>
    </div>

    <div class="row" ng-if="!vm.ticket.id || vm.isLoading || vm.notConfirmed || vm.notConnected">
      <div class="spinner" ng-if="vm.isLoading">
        <ion-spinner></ion-spinner>
      </div>

      <div class="row" ng-if="!vm.isLoading">
        <div class="empty-state" ng-if="!vm.ticket.id && !vm.notConfirmed && !vm.notConnected">
          <h3>Ticket não encontrado</h3>
          <p>Você não possui nenhum ticket com esse código.</p>
        </div>

        <div class="empty-state error" ng-if="vm.notConfirmed">
          <h3>Conta não confirmada.</h3>
          <p>Confirme sua conta através do email que lhe enviamos para ver os detalhes do bilhete.</p>
        </div>

        <div class="empty-state error" ng-if="vm.notConnected">
          <h3>Você parece estar desconectado.</h3>
          <p>Verifique sua conexão e tente novamente.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
