<ion-view title="Bilhetes">
  <ion-content on-swipe-right="vm.onSwipeRight()" on-swipe-left="vm.onSwipeLeft()" class="has-header">
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="vm.getTickets()"></ion-refresher>

    <div ng-if="vm.hasTickets && !vm.isLoading">
      <ion-list class="list" >
        <ion-item class="item item-icon-left" ui-sref="blank.ticket-details({id: ticket.id})" collection-repeat="ticket in vm.tickets">
          <i class="icon positive ion-bookmark"></i>
          <h2 class="positive"><strong>{{ticket.friendlyCode}}</strong></h2>
          <p><strong>{{ticket.service | capitalize}}</strong></p>
          <p ng-show="ticket.estimatedStart != null">{{ticket.estimatedStart | date: 'mediumDate'}}</p>
          <p ng-show="ticket.estimatedStart == null">Aguardando confirmação</p>
        <span class="badge badge-stable">
          <span ng-show="vm.ticketOpen(ticket) && ticket.prevision == null">Agendado</span>
          <span ng-show="vm.ticketOpen(ticket) && ticket.prevision != null">{{ticket.prevision | date: 'shortTime'}}</span>
          <span ng-show="!vm.ticketOpen(ticket)">{{'global.status.' + ticket.status.toLowerCase() | translate}}</span>
        </span>
        </ion-item>
      </ion-list>
    </div>

    <div class="row" ng-if="!vm.hasTickets || vm.isLoading || vm.notConfirmed || vm.notConnected">

      <div class="row" ng-if="!vm.isLoading">
        <div class="empty-state" ng-if="!vm.hasTickets && !vm.notConfirmed && !vm.notConnected">
          <h3>Nenhum ticket ativo no momento.</h3>
          <p>Clique no icone de pesquisa para emitir seu bilhete.</p>
          <a class="button button-outline button-stable" ui-sref="blank.history">Histórico</a>
        </div>

        <div class="empty-state error" ng-if="vm.notConfirmed">
          <h3>Conta não confirmada.</h3>
          <p>Confirme sua conta através do email que lhe enviamos para ver os seus bilhetes.</p>
        </div>

        <div class="empty-state error" ng-if="vm.notConnected">
          <h3>Você parece estar desconectado.</h3>
          <p>Verifique sua conexão e tente novamente.</p>
        </div>
      </div>

      <div class="spinner" ng-show="vm.isLoading">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <div class="padding align-center" ng-if="vm.hasTickets && !vm.isLoading">
      <a class="button button-outline button-stable" ui-sref="blank.history">Histórico</a>
    </div>
  </ion-content>
</ion-view>
