<ion-view title="Atividades">
  <ion-content on-swipe-right="vm.onSwipeRight()" class="has-header">
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="vm.getActivities(true)"></ion-refresher>

    <ion-list class="list" ng-if="vm.activities.length > 0">
      <ion-item class="item item-icon-left" ui-sref="blank.ticket-details({id: activity.ticketId})" collection-repeat="activity in vm.activities">
        <i class="icon positive ion-android-notifications"></i>
        <h2 class="positive"><strong>{{activity.friendlyCode}}</strong></h2>
        <p><strong>{{activity.serviceName | capitalize}}</strong></p>
        <p>Em {{activity.dateTime | date: 'short'}}</p>
        <span class="badge badge-stable">{{'global.status.' + activity.actionName.toLowerCase() | translate}}</span>
      </ion-item>
    </ion-list>

    <div class="padding align-center" ng-if="vm.hasMoreActivities && vm.activities.length > 0">
      <a class="button button-block button-outline button-positive" ng-click="vm.getActivities(false)" ladda="vm.isLoadingMore">Mostrar mais</a>
    </div>

    <div class="row" ng-if="vm.activities.length === 0 || vm.isLoading || vm.notConfirmed || vm.notConnected">
      <div class="spinner" ng-if="vm.isLoading">
        <ion-spinner></ion-spinner>
      </div>

      <div class="row" ng-if="!vm.isLoading">
        <div class="empty-state" ng-if="vm.activities.length === 0 && !vm.notConfirmed && !vm.notConnected">
          <h3>Nenhuma atividade até agora</h3>
          <p>Aqui ficam registradas todas as atividades relacionadas aos seus bilhetes.</p>
        </div>

        <div class="empty-state error" ng-if="vm.notConfirmed">
          <h3>Conta não confirmada.</h3>
          <p>Confirme sua conta através do email que lhe enviamos para ver as atividades dos seus bilhetes.</p>
        </div>

        <div class="empty-state error" ng-if="vm.notConnected">
          <h3>Você parece estar desconectado.</h3>
          <p>Verifique sua conexão e tente novamente.</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
