.new-ticket-container
  @extend %block-element
  +display-flex
  +flex-direction(column)
  background:
    image: linear-gradient(rgba(map-get($color-custom, 1), .85), rgba(map-get($color-custom, 1), .45)), url(../images/06.jpg)
    size: cover
    repeat: no-repeat
    position: center center
  width: 100%
  height: 100%

.logo-box
  @extend %block-element
  +display-flex
  +align-items(center)
  height: calc(30% - 16px)
  height: calc((100vw * 9 / 16) - 16px)
  min-height: calc((60vw * 9 / 16) - 16px)

  .logo-cover
    width:  80%

.code-box
  @extend %block-element
  min-height: calc(100vw * 7 / 16)
  margin: 16px 0
  text-align: center

  h2
    color: #fff
    font-size: 4vw
    line-height: 200%

    strong
      display: block
      font-size: 6.5vw
      text-transform: uppercase

  label
    +box-shadow(0 2px 2px rgba(0, 0, 0, 0.2))
    height: 20vw
    border-radius: 2px

    input
      height: 100%
      width: 100%
      padding: 0
      font:
        size: 15vw
        weight: bold
      text-align: center
      text-transform: uppercase

.auth-box
  @extend %block-element
  +display-flex
  +flex-direction(column-reverse)
  +flex-grow(1)
  min-height: calc(100vw / 2)
  padding-bottom: 4vw

  // Usar quando tiver os
  // botões de autenticação
  // display: flex
  // flex-wrap: wrap
  // align-content: flex-end

  > *
    width: 100%

  .info
    color: $color-lighter
    font-size: 5vw
    line-height: 110%
    font:
      family: $font-system
      weight: lighter

    margin-bottom: 56px
    
    p
      text-align: center

  .button-text-highlight
    text-transform: uppercase

  .button-text-highlight-system
    color: map-get($color-custom, 1) !important
