.bar
  .left-buttons
    .button.button-icon
      +display-flex
      +align-items(center)
      margin: 0

  .title
    left: 0 !important

.platform-ios
  .bar.bar-positive
    height: 44px

    .left-buttons
      .button.button-icon.back-button
        &:before
          content: '\f124'

    .title.title-center
      left: 0 !important
      right: 0 !important
    
  