.bar
  .title
    font-weight: bold
    text-align: left
  .menu-button
    top: 6px
  .search-button
    top: 10px !important
  .search-button-explore
    left: 5px !important
  .back-button
    top: 5px
    margin-left: 9px
  .item-input-wrapper
    background: transparent
  .ios-search-bar
    top: -10px !important

.bar-positive
  border-color: map-get($color-custom, 1) !important
  background: map-get($color-custom, 1) !important

  .item-input-inset
    .item-input-wrapper

      input
        color: white !important
      input::-webkit-input-placeholder
        color: white

      input:-moz-placeholder
        color: white

      input:-ms-input-placeholder
        color: white

.bar-transparent
  border: none
  background: transparent

  .icon
    color: #eee

.bar-input
  +box-shadow(0 2px 2px rgba(0, 0, 0, 0.2))

  input
    width: 80%
    background-color: map-get($color-custom,1)
    color: white !important
    margin-top: 3px
    margin-left: 5px

  input::-webkit-input-placeholder
    color: white

  input:-moz-placeholder
    color: white

  input:-ms-input-placeholder
    color: white

  .button
    &:last-child
      color: #eee
