.ionic_datepicker
  .selected_date_full
    color: map-get($color-custom, 1)
    font:
      weight: bold
      size: 1em
      family: $font-default
    line-height: 100%

  .left_arrow,
  .right_arrow
    button
      color: map-get($color-custom, 1) !important

  // .date_col
  //   $size: 30px
  //   +border-radius(100%)

  //   min-width: $size !important
  //   width: $size
  //   height: $size
  //   padding: 0

  //   &:hover
  //     border: 2px solid map-get($color-custom, 1)
  //     color: map-get($color-custom, 1)

  //   &.available
  //     background: map-get($color-custom, 1)

  //   &.date_selected
  //     background: map-get($color-custom, 1)

  // // .date_cell
  //   // padding: 0
  //   // margin: 5px
