.empty-state
  color: $color-dark
  text-align: center
  margin: auto

  &:before
    @extend .ion-coffee

    margin-bottom: 15px
    color: #eee
    font-size: 90px

  &.success
    &:before
      @extend .ion-checkmark-circled

  &.error
    &:before
      @extend .ion-flag
