.spinner
  margin: auto

.row, .scroll
  height: 100%

.side-menu-header
  top: $bar-height !important

.ionic_ratings .read_only
  pointer-events: none !important

.fixed-input
  background-color: white !important

.read-only
  background-color: #f8f8f8

.self-service-phone
  text-align: right
  padding-right: 5px !important

em,i
  font-style: italic

.item-complex .item-content, .item-radio .item-content
  padding-right: 15px
