// Display
.display-none
  display: none !important

.display-block
  display: block !important

.display-inline
  display: inline !important

.display-inline-block
  display: inline-block !important

// Width
.width-full
  width: 100% !important

.width-half
  width: 50% !important

// Height
.height-full
  height: 100% !important

.height-half
  height: 50% !important

// Float
.float-none
  float: none !important

.float-left
  float: left !important

.float-right
  float: right !important

// Margin
+main-range-property('margin', 0, 0, 1, '')
+main-range-property('margin-top', 0, 100, 5)
+main-range-property('margin-right', 0, 100, 5)
+main-range-property('margin-bottom', 0, 100, 5)
+main-range-property('margin-left', 0, 100, 5)

// Padding
+main-range-property('padding', 0, 0, 1, '')
+main-range-property('padding-top', 0, 100, 5)
+main-range-property('padding-right', 0, 100, 5)
+main-range-property('padding-bottom', 0, 100, 5)
+main-range-property('padding-left', 0, 100, 5)

// Text
.text-xlarge
  font-size: 1.4em !important

.text-large
  font-size: 1.2em !important

.text-small
  font-size: 0.9em !important

.text-xsmall
  font-size: 0.8em !important

.text-light
  +opacity(0.2)

// Alignment
.align-left
  text-align: left !important

.align-right
  text-align: right !important

.align-center
  text-align: center !important

.align-justify
  text-align: justify !important

// Miscellaneous
.clearfix
  @extend %clearfix

.clear
  clear: both !important

.nowrap
  white-space: nowrap !important

.centered
  margin: 0 auto !important

.center
  display: flex
  align-items: center
  justify-content: center

// Ionic
.text-hint
  color: #999 !important
  font-size: 0.8em !important

// Opacity
.opacity-02
  +opacity(0.2)

.opacity-05
  +opacity(0.5)

.opacity-08
  +opacity(0.8)

// Color
.color-base
  color: map-get($color-custom, 1) !important
