.list
  .item-heading
    a
      position: absolute
      right: 0
      top: 5px

  .ticket-friendlycode
    font:
      weight: bold
      size: 2.3em

  .ticket-service
    margin-top: 5px
    font-size: 1.1em

  .ticket-status
    margin-top: 5px
    color: map-get($color-custom, 1)
    font-weight: bold
    text-transform: uppercase

  .heading-top
    font:
      weight: bold
      size: 1em
      family: $font-default
    line-height: 100%

  .heading-sub
    margin-top: 10px
    color: #000
    font:
      weight: normal
      size: 0.8em
      family: $font-default
    line-height: 100%

  .heading-item
    color: map-get($color-custom, 1)
    font:
      weight: bold
      size: 1em
      family: $font-default
    line-height: 100%

  &.card
    .item-note-full
      width: 100%
      text-align: right
