// Android
.platform-android
  .loading-container
    .loading
      background-color: transparent

  .loading
    span
      display: none

    svg
      width: 15vw
      height: 15vw

  .platform-android
    .spinner-android
      stroke: #fff
      
// iOS
.platform-ios
  .loading-container
    .loading
      display: flex
      align-items: center
      padding: 8px
      background-color: #fff
      border-radius: initial

  .loading
    span
      display: inline-block
      color: #999
      font-weight: bold
      line-height: 200%

    .spinner-ios
      margin: 0
      margin-left: 8px
      
      svg
        width: 24px
        height: 24px

  .platform-android
    .spinner-android
      stroke: #fff