// Range property
=main-range-property($property, $start, $end, $factor, $unit: 'px')
  $i: $start

  @while $i <= $end
    .#{$property}-#{$i}
      #{$property}: #{$i + $unit} !important
    $i: $i + $factor

=vertical-mark($color)
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    min-width: 6px
    background-color: $color

=calc($property, $expression, $default: initial)
  #{$property}: $default
  #{$property}: -webkit-calc(#{$expression})
  #{$property}: -moz-calc(#{$expression})
  #{$property}: calc(#{$expression})