.modal-small
  top: 35% !important
  right: 10% !important
  left: 10% !important
  overflow: visible !important
  min-height: 50px !important
  width: 80% !important

@media (max-width: 680px)
  .active .modal-backdrop-bg
    opacity: .5
    transition: opacity 300ms ease-in-out
    background-color: #000
