.popup
  +box-shadow(0 16px 36px rgba(0, 0, 0, 0.3))

  .popup-head
    border-style: none

    .popup-title
      font-weight: bold
  
  .popup-body
    border:
      top: 1px solid #ddd
      bottom: 1px solid #ddd
    
    .list
      .item
        background-color: transparent
        border-style: none
        padding-left: 0
  
  .popup-buttons
    justify-content: flex-end

    button
      min-width: initial
      background-color: transparent
      border: none
      font-weight: bold
      color: map-get($color-custom, 1)

.platform-android
  .popup
    background-color: #fff
    
    > *
      padding: 0 24px

    .popup-head
      padding-top: 24px
      
      .popup-title
        font-size: 18px
        text-align: left
    
    .popup-body
      padding: 0
      margin-top: 20px

      .list
        .item
          padding-left: 24px
          font:
            size: 16px
          
          &:active
            background-color: #eee

    .popup-buttons
      $size: 8px
      padding-right: $size
      padding-top: $size
      padding-bottom: $size

      button
        flex: 0
        margin-left: $size
        text-transform: uppercase

.platform-ios
  .popup
    +border-radius(13pt)
    background-color: #e6e6e6

    > *
      padding: 0 12pt

    .popup-head
      padding-top: 12pt
      
      .popup-title
        font-size: 13.5pt
        text-align: center
    
    .popup-body
      padding: 0
      margin-top: 12pt
      border:
        top-color: #bbb
        bottom-color: #bbb

      .list
        .item
          color: #000
          padding-left: 12pt 
          font:
            size: 12.5pt

          &:active
            background-color: #d6d6d6

    .popup-buttons
      padding: 0
      min-height: initial

      button
        padding: 12pt
        text-transform: capitalize
        font-size: 13.5pt