.bar
  height: 56px
  padding: 0
  // +box-shadow(0 1px 2px rgba(0, 0, 0, 0.2))

  &.bar-header
    .button
      &:first-of-type, &:last-of-type
        padding: 0 16px
      
      &:last-of-type
        top: 0
        right: 0
        bottom: 0
    
    .title
      margin: 0 0 0 56px

      h1
        display: inline-block
        font:
          size: 19px
          weight: bold
        line-height: 55px
        color: #fff
        text-align: left
        padding: 0 16px
        margin: 0
        height: 100%

.platform-android
  .bar.bar-header
    .title
      h1
        text-align: left

.platform-ios
  .has-header
    top: 44px

  .bar.bar-header
    height: 44px

    .button:before
      font-weight: lighter

    .title
      +display-flex
      +align-items(center)
      +justify-content(center)
      height: 44px
      margin: 0 56px

      h1
        line-height: inherit
        height: initial

.service-list-content
  background-color: #e6e6e6 !important

  .list
    .item-group
      +box-shadow(0 1px 2px rgba(0, 0, 0, 0.2))

      .item-divider
        font-weight: bold
        background-color: transparent
        color: #696969

      .item-avatar
        +display-flex

        .identity-box
          +flex-grow(1)
          overflow: hidden

          h3
            line-height: 1.3

        .datetime-box
          +display-flex
          +flex-direction(column)
          +align-items(center)
          +justify-content(center)

          min-width: 144px
          text-align: right
          font:
            size: 40px
            weight: bolder
          line-height: 80%
          text-align: center

          .footer
            display: block
            font:
              size: 12px
              weight: normal
            text-align: center
            color: rgba(0, 0, 0, .6)
            line-height: 1
            margin-top: 8px

        .avatar-sample
          $size: 40px
          +border-radius($size)

          position: absolute
          top: 16px
          left: 16px
          max-width: $size
          max-height: $size
          display: inline-block
          width: $size
          height: $size
          line-height: $size
          background:
            color: rgba(map-get($color-custom, 1), .6)
          color: #fff
          text:
            transform: uppercase
            align: center
          font-size: 16px

        h2
          font-size: 24px

        h3
          color: #666
          text-transform: capitalize

        &.activated
          background-color: #d9d9d9

      .late
        $color: red
        +vertical-mark(rgba($color, .8))

      .last-minutes
        $color: orange
        +vertical-mark(rgba($color, .8))

        .datetime-box
          .left-time
            margin-top: 8px
            background-color: rgba($color, .2)

      .called
        $color: green
        +vertical-mark(rgba($color, .8))

        .datetime-box
          .badge-status
            background-color: rgba($color, .2)
            margin-top: 8px
            position: relative

      .item-dimissed
        background-color: #f0f0f0

        h2
          font-weight: lighter

    .today
      h2
        font-weight: bold

.badge-status
  $size: 4px
  +box-sizing(border-box)
  +border-radius($size)
  +box-shadow(1px 1px rgba(0, 0, 0, .2))
  display: inline-block
  padding: 0 $size * 2
  font:
    weight: 200
    size: 16px
  line-height: 150%
  background-color: #ddd
