.ios-header
  margin-top: 17px !important

.user-info
  height: 85px
  overflow: hidden
  padding-left: 7px

  .item-content
    padding:
      left: 0
      right: 0

  img
    float: left
    max-height: 45px
    max-width: 45px
    border-radius: 50%
    margin:
      left: 5px
      right: 10px

  h2
    margin: 7px 5px 0 0
