<ion-view title="Histórico">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getUserHistory(true)"></ion-refresher>

    <ion-list class="list" ng-if="vm.history.length > 0">
      <a class="item item-icon-left" ui-sref="blank.ticket-details({id: ticket.id})" collection-repeat="ticket in vm.history">
        <i class="icon positive ion-bookmark"></i>
        <h2 class="positive"><strong>{{ticket.friendlyCode}}</strong></h2>
        <p><strong>{{ticket.service | capitalize}}</strong></p>
        <p ng-show="ticket.estimatedStart != null">{{ticket.estimatedStart | date: 'shortDate'}}</p>
        <p ng-show="ticket.estimatedStart == null">Aguardando confirmação</p>
      <span class="badge badge-stable">
        <span ng-show="vm.ticketOpen(ticket) && ticket.prevision == null">Agendado</span>
        <span ng-show="vm.ticketOpen(ticket) && ticket.prevision != null">{{ticket.prevision | date: 'shortTime'}}</span>
        <span ng-show="!vm.ticketOpen(ticket)">{{'global.status.' + ticket.status.toLowerCase() | translate}}</span>
      </span>
      </a>
    </ion-list>

    <div class="padding align-center" ng-show="vm.hasMoreTickets && vm.history.length > 0">
      <a class="button button-block button-outline button-positive" ng-click="vm.getUserHistory(false)" ladda="vm.isLoadingMore">Mostrar mais</a>
    </div>

    <div class="row">
      <div class="empty-state" ng-show="vm.history.length === 0 && !vm.isLoading">
        <h3>Nenhum ticket até agora</h3>
        <p>Aqui ficam os tickets do histórico.</p>
      </div>

      <div class="spinner" ng-show="vm.isLoading">
        <ion-spinner></ion-spinner>
      </div>
    </div>
  </ion-content>
</ion-view>
