<div class="bar bar-light bar-input">
  <a class="button button-icon ion-android-arrow-back" href="javascript:history.back();"></a>
  <input type="text" placeholder="Código do bilhete" ng-model="ticket.friendlyCode" autofocus>
  <button class="button button-icon ion-ios-search-strong" ng-disabled="friendlyCode.length < 6" ng-click="search()"></button>
</div>

<ion-view title="Pesquisar">
  <ion-content class="has-header">
    <div class="list">
      <a class="item item-icon-left">
        <i class="icon ion-bookmark"></i>
        <h2>607-5F</h2>
        <p><strong>Provider</strong>, 12/12/1999</p>
        <span class="badge badge-stable">Called</span>
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-bookmark"></i>
        <h2>607-5F</h2>
        <p><strong>Provider</strong>, 12/12/1999</p>
        <span class="badge badge-stable">Called</span>
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-bookmark"></i>
        <h2>607-5F</h2>
        <p><strong>Provider</strong>, 12/12/1999</p>
        <span class="badge badge-stable">Called</span>
      </a>
    </div>
  </ion-content>
</ion-view>
