<ion-view title="Auto-atendimento">
  <ion-content class="has-header">

    <div class="list card" ng-if="!vm.isLoadingLocation">
      <div class="item item-divider align-center">
        <h2 class="heading-top">{{vm.location.provider.name}}</h2>
        <p class="heading-sub">{{vm.location.name}} - {{vm.location.phone}}</p>
        <p class="heading-sub opacity-05" ng-if="vm.location.type === 'Fixed'">{{vm.location.address.street}} | {{vm.location.address.city}} | {{vm.location.address.zipCode}}</p>
        <p class="heading-sub opacity-05" ng-if="vm.location.type === 'Mobile'">Unidade Móvel</p>
      </div>

      <div ng-if="vm.location.services.length === 0">
        <br>
        <div class="empty-state">
          <h3>Nenhum serviço para exibir.</h3>
          <p>Esta unidade não possui nenhum serviço disponível.</p>
        </div>
        <br>
      </div>
      <div class="list card" ng-repeat="service in vm.location.services | orderBy: 'name'" ng-if="vm.location.services.length > 0">
        <a href="" class="item heading-item" ng-click="vm.getDatesAvailability(service)">{{service.name | capitalize}}</a>

        <div class="item item-body" ng-if="service.show">
          <div ng-if="!vm.isLoadingService">
            <div ng-if="!vm.createdSuccessfully">
              <div ng-if="service.restrictedSchedule">
                <div class="list">
                  <ionic-datepicker input-obj="vm.datepickerObject">
                    <a class="item item-icon-left">
                      <i class="icon ion-calendar"></i>
                      <div class="align-right" ng-if="vm.ticket.date">{{vm.ticket.date | date:'mediumDate' | capitalize}}</div>
                      <div class="item-note" ng-if="!vm.ticket.date">Selecione a data</div>
                    </a>
                  </ionic-datepicker>

                  <a class="item item-icon-left" ng-click="vm.selectSession()">
                    <i class="icon ion-clock"></i>
                    <div class="align-right" ng-if="vm.ticket.sessionId">{{vm.selectedSession.start | date: 'shortTime'}} - {{vm.selectedSession.end | date: 'shortTime'}}</div>
                    <div class="item-note" ng-if="!vm.ticket.sessionId">Selecione o horário</div>
                  </a>

                  <div class="item item-icon-left">
                    <i class="icon ion-ios-telephone"></i>
                    <label class="item-input" style="padding-left: 0; max-height: 20px">
                      <input class="self-service-phone" type="tel" ui-mask="(99) 99999-999?9" ui-mask-placeholder ng-model="vm.ticket.phone">
                    </label>
                  </div>

                  <div class="item item-icon-left item-toggle">
                    <i class="icon ion-ios-star"></i>
                    Preferencial:
                    <label class="toggle toggle-positive">
                      <input type="checkbox" ng-model="vm.ticket.special">
                  <span class="track">
                    <span class="handle"></span>
                  </span>
                    </label>
                  </div>
                </div>

                <button class="button button-positive button-block" ladda="vm.isLoadingTicket" ng-click="vm.emitTicket()">Gerar bilhete</button>
              </div>
              <div ng-if="!service.restrictedSchedule">
                <div class="empty-state">
                  <h3>Este serviço não permite autoatendimento.</h3>
                  <p>Entre em contato com o(a) {{vm.location.name}} pelo telefone {{vm.location.phone}} para realizar seu agendamento.</p>
                </div>
              </div>
            </div>

            <div ng-if="vm.createdSuccessfully">
              <div class="empty-state">
                <h3>Ticket criado com sucesso.</h3>
                <p>O ticket {{vm.return.friendlyCode}} foi criado para o dia {{vm.return.date | date: 'shortDate'}}.</p>
                <button class="button button-block button-outline button-positive" ui-sref="blank.ticket-details({id: vm.return.id})">Detalhes do bilhete</button>
                <button class="button button-block button-outline button-positive" ng-click="vm.clearAll()">Nova reserva</button>
              </div>
            </div>
          </div>

          <div class="center" ng-if="vm.isLoadingService">
            <ion-spinner></ion-spinner>
          </div>

        </div>

        <div class="item item-note item-note-full" ng-click="vm.getDatesAvailability(service)">
          <span class="text-small"><i class="icon ion-clock"></i> Atendimento médio: {{service.averageTime}} min</span>
        </div>
      </div>
    </div>

    <div class="row" ng-if="vm.isLoadingLocation">
      <ion-spinner></ion-spinner>
    </div>

  </ion-content>
</ion-view>
