<ion-modal-view title="Horário">
  <ion-header-bar class="bar bar-positive">
    <h1 class="title">2. Horário</h1>
  </ion-header-bar>

  <ion-content class="has-header has-footer">

    <br>

    <div class="padding">
      <label class="item item-input item-select">
        <div class="input-label">
          Preferência:
        </div>
        <select ng-model="vm.selectedResource">
          <option value="noPreference">Sem preferência</option>
          <option ng-repeat="resource in vm.resourcesSessions.resources" value="{{resource}}" ng-show="vm.hasSession(resource)">{{resource.name}}</option>
        </select>
      </label>
    </div>

    <h3 class="selected_date_full">Horários disponíveis para o dia</h3>
    <h3 class="selected_date_full">{{vm.ticket.date | date:"longDate"}}</h3>

    <div class="card padding">
      <ion-list>
        <ion-radio ng-repeat="session in vm.resourcesSessions.sessions" ng-show="vm.showSession(session)" ng-model="vm.choice" ng-disabled="!session.hasSlotsLeft || vm.sessionExpired(session)" ng-change="vm.setTime(vm.choice)" ng-value="'{{session.id}}'">
          <span>{{session.start | date: 'shortTime'}} - {{session.end | date: 'shortTime'}} -<span ng-if="session.resourceId"> {{vm.resourceById(session.resourceId)}}</span> <span ng-if="!session.resourceId"> Compartilhada</span></span>
          <span class="badge badge-assertive" ng-show="vm.sessionExpired(session)">Expirada</span>
          <span class="badge badge-assertive" ng-show="!session.hasSlotsLeft">Esgotada</span>
        </ion-radio>
      </ion-list>
    </div>

  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-positive">
    <div class="row no_padding">
      <div class="col text-center" ng-click="vm.closeModal()"><button class="button button-clear">Voltar</button></div>
      <div class="text-center" ng-show="false" ng-click="vm.setTime(vm.choice)"><button class="button button-clear" ng-disabled="!vm.choice">Selecionar</button></div>
    </div>
  </ion-footer-bar>
</ion-modal-view>
