<ion-view title="Empresas">
  <ion-content on-swipe-left="vm.onSwipeLeft()" class="has-header">
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="vm.getProviders()"></ion-refresher>

    <div class="list" ng-if="vm.hasProviders && !vm.isLoading">
      <a class="item item-avatar" collection-repeat="provider in vm.providers" ui-sref="blank.providers-tickets({id: provider.providerId})">
        <img ng-src="{{provider.picture}}">
        <h2>{{provider.providerName}}</h2>
        <span class="badge badge-stable">{{provider.total}}</span>
      </a>
    </div>

    <div class="row" ng-if="vm.isLoading || !vm.hasProviders || vm.notConfirmed || vm.notConnected">
      <div class="spinner" ng-show="vm.isLoading">
        <ion-spinner></ion-spinner>
      </div>

      <div class="row" ng-if="!vm.isLoading">
        <div class="empty-state" ng-if="!vm.hasProviders && !vm.notConfirmed && !vm.notConnected">
          <h3>Você não tem bilhetes em nenhuma empresa até agora.</h3>
          <p>Clique no icone de pesquisa para emitir seu bilhete.</p>
        </div>

        <div class="empty-state error" ng-if="vm.notConfirmed">
          <h3>Conta não confirmada.</h3>
          <p>Você precisa confirmar sua conta a partir do email que lhe enviamos para ver as empresas em que tem bilhetes.</p>
        </div>

        <div class="empty-state error" ng-if="vm.notConnected">
          <h3>Você parece estar desconectado.</h3>
          <p>Verifique sua conexão e tente novamente.</p>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
