<ion-view title="Bilhetes em {{vm.provider.name}}">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getTicketsByProviders()"></ion-refresher>

    <ion-list class="list" ng-if="vm.hasProvider">
      <div ng-repeat="location in vm.provider.locations">
        <div class="item item-divider item-heading">
          {{location.name}}
          <a href="#" class="button button-small button-clear button-positive icon-left ion-map">Map</a>
        </div>
        <ion-item class="item item-icon-left" ng-repeat="ticket in location.tickets" ui-sref="blank.ticket-details({id: ticket.id})">
          <i class="icon positive ion-bookmark"></i>
          <h2 class="positive"><strong>{{ticket.friendlyCode}}</strong></h2>
          <p ng-show="ticket.estimatedStart != null">{{ticket.estimatedStart | date: 'mediumDate'}}</p>
          <p ng-show="ticket.estimatedStart == null">Aguardando confirmação</p>
          <span class="badge badge-stable">
            <span ng-show="vm.ticketOpen(ticket) && ticket.estimatedStart == null">Agendado</span>
            <span ng-show="vm.ticketOpen(ticket) && ticket.estimatedStart != null">{{ticket.estimatedStart | date: 'shortTime'}}</span>
            <span ng-show="!vm.ticketOpen(ticket)">{{'global.status.' + ticket.status.toLowerCase() | translate}}</span>
          </span>

        </ion-item>
      </div>
    </ion-list>

    <div class="row" ng-if="!vm.hasProvider && vm.isLoading">
      <ion-spinner ng-show="vm.isLoading"></ion-spinner>
      <div class="empty-state" ng-show="!vm.hasProvider && !vm.isLoading">
        <h3>Nenhum ticket encontrado.</h3>
        <p>Você não possui tickets nesse provider.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
