<ion-view view-title="Avaliação">
  <ion-content class="has-header">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getFeedback(true)"></ion-refresher>

    <div class="list card" ng-if="!vm.isLoading && !vm.rated && !vm.error">
      <div class="item item-divider align-center">
        <h2 class="ticket-friendlycode">{{vm.feedback.ticket.friendlyCode}}</h2>
        <p class="ticket-service">{{vm.feedback.ticket.serviceName | capitalize}} <span ng-if="vm.feedback.ticket.resourceName != null">({{vm.feedback.ticket.resourceName}})</span></p>
        <p class="ticket-status">{{'global.status.' + vm.feedback.ticket.status.toLowerCase() | translate}}</p>
      </div>

      <div class="item item-body padding-top-0">
        <div class="list">
          <div class="item">
            <ionic-ratings ng-if="vm.feedback" ratingsobj='vm.feedback.rate'></ionic-ratings>
          </div>

          <div ng-if="vm.feedback.comment" class="item item-input item-floating-label padding-0">
            <textarea placeholder="Escreva um pouco sobre essa experiência..." style="height: 80px;" ng-model="vm.feedback.comment" ng-if="!vm.hasUpdated"></textarea>
            <div ng-if="vm.hasUpdated">
              <h3 class="center">"{{vm.feedback.comment}}"</h3>
              <br/>
            </div>
          </div>

          <div class="item">
           <div class="center text-xsmall" ng-if="vm.hasUpdated"><strong>Avaliado em {{vm.feedback.lastUpdate | date: 'short'}}</strong></div>

            <div class="button-bar" ng-if="!vm.hasUpdated && !vm.rated">
              <button class="button button-positive" ng-click="vm.sendFeedback()" ladda="vm.isSendingFeedback">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="vm.rated && vm.error && !vm.isLoading">
      <div class="empty-state error">
        <h3>Ops!</h3>
        <p><strong>Algo deu errado...</strong></p>
        <p>Por favor, retorne e tente novamente.</p>
      </div>

      <div class="padding">
        <div class="col">
          <a class="button button-block button-outline button-positive" ng-click="vm.goBack()">Retornar</a>
        </div>
      </div>
    </div>

    <div class="row" ng-if="vm.isLoading">
      <div class="spinner">
        <ion-spinner></ion-spinner>
      </div>
    </div>

    <div class="row" ng-if="vm.rated && !vm.error && !vm.isLoading">
      <div class="empty-state success">
        <h3>Tudo certo!</h3>
        <p><strong>Sua avaliação foi feita com sucesso.</strong></p>
        <a class="button button-block button-outline button-positive" ng-click="vm.seeFeedback()">Ver avaliação</a>
      </div>
    </div>
  </ion-content>

</ion-view>
