<ion-nav-bar class="bar bar-positive nav-title-slide-ios7" ng-show="vm.showDefaultBar()">
  <ion-nav-buttons side="left">
    <a class="button button-icon ion-android-arrow-back back-button" ng-show="vm.hasBackButton" ng-click="vm.myGoBack()"></a>
  </ion-nav-buttons>
</ion-nav-bar>


<ion-nav-view></ion-nav-view>
