<ion-header-bar class="bar bar-header bar-positive">
  <a class="button button-icon ion-navicon menu-button" ng-click="vm.menu()"></a>
  <h1 class="title col-sm-8">Filazero</h1>
  <a class="button button-icon ion-android-search col-20 search-button" ng-click="vm.search()"></a>
</ion-header-bar>

<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-side-menu-content drag-content="false" class="side-menu-header" ng-class="{'ios-header': vm.isIOS}">
      <ion-list class="list">
        <ion-item class="user-info" ui-sref="blank.myAccount">
          <img class="user-picture" ng-src="{{vm.userData.picture}}">
          <h2>{{vm.userData.firstName}} {{vm.userData.lastName}}</h2>
          <p><em>{{vm.userData.userName}}</em></p>
        </ion-item>
        <ion-item class="item item-icon-left" ui-sref="blank.about">
          <i class="icon ion-ios-information"></i>
          Sobre
        </ion-item>
        <ion-item class="item item-icon-left" ui-sref="blank.myAccount">
          <i class="icon ion-ios-gear"></i>
          Minha Conta
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="vm.logOut()">
          <i class="icon ion-power"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-side-menu-content>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-tabs class="tabs-positive tabs-striped">
      <ion-tab title="Empresas" ui-sref="tabs.providers.index">
        <ion-nav-view name="providers"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Bilhetes" ui-sref="tabs.tickets.index">
        <ion-nav-view name="tickets"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Atividades" ui-sref="tabs.activities">
        <ion-nav-view name="activities"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-side-menu-content>

</ion-side-menus>
