<ion-header-bar class="bar bar-header bar-positive item-input-inset">
  <a class="button button-icon ion-android-arrow-back" ng-click="vm.myGoBack()"></a>
  <form ng-submit="vm.search(0, vm.query)" class="bar bar-header bar-positive item-input-inset" ng-class="{'ios-search-bar': vm.isIOS }">
    <label class="item-input-wrapper">
      <input type="search" focus-me="!vm.isIOS" placeholder="O que você está buscando?" ng-model="vm.query">
    </label>
    <button class="button button-icon ion-android-search search-button-explore" type="submit" ng-disabled="vm.query.length === 0"></button>
  </form>
</ion-header-bar>

<ion-view title="Pesquisar">
  <ion-content class="has-header">
    <ion-list class="list" ng-if="!vm.isLoading && vm.searched && vm.locations.length > 0">
      <ion-item class="item item-avatar" ng-repeat="location in vm.locations" ui-sref="blank.self-service({ providerSlug: location.provider.slug, locationId: location.locationId})">
        <img ng-src="{{location.picture}}">
        <h2>{{location.provider.name}} - <em>{{location.name}}</em></h2>
        <p ng-if="!vm.isMobile(location)">{{location.address.street}}, {{location.address.city}}, {{location.address.state}}</p>
        <p ng-if="vm.isMobile(location)">Unidade Móvel</p>
        <span class="item-note">
          {{'global.categories.' + location.provider.category | translate}}
        </span>
      </ion-item>
    </ion-list>
    <div class="col" ng-if="vm.locationsFound > vm.locations.length && !vm.isLoading">
      <a class="button button-block button-outline button-positive" ladda="vm.isLoadingMore" ng-click="vm.showMore()">Mostrar mais</a>
    </div>

    <div class="row" ng-if="vm.isLoading || vm.locations.length === 0">
      <div class="empty-state" ng-if="!vm.isLoading && vm.searched && vm.locations.length === 0">
        <h3>Ops! Nada encontrado.</h3>
        <p>A sua pesquisa - <strong>{{vm.lastSearchedString}}</strong> - não encontrou nenhum resultado. Tente utilizar palavras que melhor definam o que você busca.</p>
      </div>
      <div class="empty-state" ng-if="!vm.isLoading && !vm.searched">
        <h3>Veja onde do Filazero está presente</h3>
        <p>Localize empresas que se preocupam com você e utilizam o Filazero para te ajudar a economizar o seu tempo.</p>
      </div>
      <ion-spinner ng-if="vm.isLoading"></ion-spinner>
    </div>

  </ion-content>
</ion-view>
